node_modules/
.next/
out/
build/
coverage/

.env
.env.*
!.env.example

*.apk
*.aab
*.jks
*.p8
*.p12
*.key
*.mobileprovision

pnpm-lock.yaml
pnpm-workspace.yaml
kobara-mobile/temp_lockfile_gen/
kobara-mobile/dist/
kobara-mobile/.expo/
kobara-mobile/node_modules/
kobara-mobile/Kobara-preview-*.apk

