{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Kobara API",
    "description": "The Kobara API for unified local and international payments, plus MonCash and NatCash withdrawals."
  },
  "servers": [
    {
      "url": "https://api.kobara.app"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Kobara API key"
      }
    },
    "schemas": {
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "pay_123456"
              },
              "reference": {
                "type": "string",
                "example": "KOB-123456"
              },
              "amount": {
                "type": "number",
                "example": 2500
              },
              "net_amount": {
                "type": "number",
                "example": 2427.5
              },
              "fee_amount": {
                "type": "number",
                "example": 72.5
              },
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "succeeded",
                  "failed",
                  "expired",
                  "refunded"
                ],
                "example": "pending"
              },
              "environment": {
                "type": "string",
                "enum": [
                  "live"
                ]
              },
              "paid_at": {
                "type": "string",
                "nullable": true
              },
              "checkout_url": {
                "type": "string",
                "format": "uri",
                "example": "https://pay.kobara.app/checkout/pay_123456"
              },
              "url": {
                "type": "string",
                "format": "uri",
                "description": "Backward-compatible alias of checkout_url",
                "example": "https://pay.kobara.app/checkout/pay_123456"
              },
              "payment_url": {
                "type": "string",
                "format": "uri",
                "description": "Backward-compatible alias of checkout_url",
                "example": "https://pay.kobara.app/checkout/pay_123456"
              },
              "paymentUrl": {
                "type": "string",
                "format": "uri",
                "description": "Backward-compatible alias of checkout_url",
                "example": "https://pay.kobara.app/checkout/pay_123456"
              }
            },
            "required": [
              "id",
              "reference",
              "amount",
              "net_amount",
              "fee_amount",
              "status",
              "environment",
              "paid_at",
              "checkout_url",
              "url",
              "payment_url",
              "paymentUrl"
            ]
          }
        },
        "required": [
          "status",
          "data"
        ]
      },
      "PaymentCreatePayload": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Amount to charge",
            "example": 2500
          },
          "currency": {
            "type": "string",
            "default": "HTG",
            "description": "Currency of the payment",
            "example": "HTG"
          },
          "provider": {
            "type": "string",
            "enum": [
              "moncash",
              "moncash_ussd",
              "moncash_web",
              "natcash",
              "natcash_web",
              "natcash_ussd",
              "carte",
              "card",
              "paypal",
              "apple_pay",
              "google_pay",
              "kobara"
            ],
            "default": "kobara",
            "description": "Payment provider (case-insensitive): moncash, natcash, card, paypal, apple_pay, google_pay, or kobara. Defaults to kobara (unified checkout page).",
            "example": "card"
          },
          "description": {
            "type": "string",
            "description": "Description of the payment",
            "example": "Order #12345"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "success_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect after successful payment",
            "example": "https://your-site.com/success"
          },
          "cancel_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect after cancelled/failed payment",
            "example": "https://your-site.com/cancel"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Key-value object for custom data",
            "example": {
              "order_id": "ORD-12345"
            }
          }
        },
        "required": [
          "amount"
        ]
      },
      "Customer": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the customer",
            "example": "Jean Dupont"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the customer",
            "example": "jean@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number",
            "example": "37000000"
          }
        }
      },
      "WithdrawalResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "reference": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "pending_approval",
                  "completed"
                ]
              },
              "method": {
                "type": "string",
                "enum": [
                  "moncash",
                  "natcash"
                ]
              },
              "amount": {
                "type": "number",
                "description": "Gross amount debited from the merchant balance.",
                "example": 1000
              },
              "fees": {
                "type": "number",
                "description": "Withdrawal fee deducted from the gross amount.",
                "example": 50
              },
              "net_amount": {
                "type": "number",
                "description": "Net amount after withdrawal fees, before currency conversion.",
                "example": 950
              },
              "currency": {
                "type": "string",
                "enum": [
                  "HTG",
                  "USD"
                ]
              },
              "payout_amount": {
                "type": "number",
                "description": "Amount sent to the destination wallet.",
                "example": 950
              },
              "payout_currency": {
                "type": "string",
                "enum": [
                  "HTG"
                ]
              },
              "exchange_rate": {
                "type": "number"
              },
              "wallet": {
                "type": "string"
              },
              "description": {
                "type": "string",
                "nullable": true
              },
              "created_at": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "reference",
              "status",
              "method",
              "amount",
              "fees",
              "net_amount",
              "currency",
              "payout_amount",
              "payout_currency",
              "exchange_rate",
              "wallet",
              "description",
              "created_at"
            ]
          }
        },
        "required": [
          "status",
          "data"
        ]
      },
      "WithdrawalCreatePayload": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Gross amount debited from the selected Kobara balance. Withdrawal fees are deducted from this amount.",
            "example": 1000
          },
          "method": {
            "type": "string",
            "enum": [
              "moncash",
              "natcash"
            ],
            "default": "moncash",
            "description": "Supported mobile wallet payout method.",
            "example": "moncash"
          },
          "account_currency": {
            "type": "string",
            "enum": [
              "HTG",
              "USD"
            ],
            "default": "HTG",
            "description": "Kobara balance to debit. A USD balance must already be active when USD is selected.",
            "example": "HTG"
          },
          "wallet": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32,
            "description": "Haitian MonCash or NatCash destination number.",
            "example": "50934567890"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "description": "Internal withdrawal description.",
            "example": "Retrait principal boutique"
          }
        },
        "required": [
          "amount",
          "wallet"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/payments": {
      "post": {
        "summary": "Create a new payment",
        "description": "Initialize a payment transaction. Use provider \"moncash\", \"natcash\", \"card\", \"paypal\", \"apple_pay\", or \"google_pay\" to preselect a method. Use \"kobara\" (default) for the unified checkout page where the customer chooses. International payment data is collected only on the hosted Kobara checkout.",
        "tags": [
          "Payments"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique key for this payment attempt. Reuse it only when retrying the exact same request.",
              "example": "8f3d4e2a-93c2-4c0f-bbe0-95ab31f6d712"
            },
            "required": true,
            "description": "Unique key for this payment attempt. Reuse it only when retrying the exact same request.",
            "name": "Idempotency-Key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentCreatePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment successfully initialized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (Validation error)"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/withdrawals": {
      "post": {
        "summary": "Create a MonCash or NatCash withdrawal",
        "description": "Debit a merchant HTG or USD balance and send the net amount, after fees and any currency conversion, to a Haitian mobile wallet.",
        "tags": [
          "Withdrawals"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "description": "Unique key for this withdrawal. Reuse it only when retrying the exact same request.",
              "example": "withdrawal-8f3d4e2a-93c2-4c0f-bbe0-95ab31f6d712"
            },
            "required": true,
            "description": "Unique key for this withdrawal. Reuse it only when retrying the exact same request.",
            "name": "Idempotency-Key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawalCreatePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawalResponse"
                }
              }
            }
          },
          "202": {
            "description": "Withdrawal accepted and pending confirmation"
          },
          "400": {
            "description": "Invalid request or missing idempotency key"
          },
          "401": {
            "description": "Invalid or missing secret API key"
          },
          "403": {
            "description": "Merchant, plan, KYC, or USD account does not allow the withdrawal"
          },
          "409": {
            "description": "Insufficient available funds, funds pending release, or idempotency conflict"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "502": {
            "description": "Provider rejected the transfer; reserved funds were refunded"
          }
        }
      }
    }
  }
}